<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deepankar.newsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icons8_news_512"
        android:label="@string/app_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".view.MainActivity"></activity>
        <activity android:name=".view.ManageHomeActivity" >
            <intent-filter>
                <action android:name="com.deepankar.newsapp.view.ManageHomeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.SearchResultsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".view.FullNewsActivity" />
        <activity android:name=".view.ShortNewsActivity"
            android:parentActivityName=".view.MainActivity"/>
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".view.SearchResultsActivity" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>